name: PR

on:
  pull_request:
    branches: [  "main" ]
    paths-ignore: [ "docs/**" ]


jobs:

  release:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checking your input
        run: |
          echo "github.event.pull_request.merged           : $MERGED_RAW"
          echo "github.event.pull_request.merged == 'true' : $MERGED_TRUE_STR"
          echo "github.event.pull_request.merged  == true  : $MERGED_TRUE_BOOL"
        env:
          MERGED_RAW: ${{ github.event.pull_request.merged }}
          MERGED_TRUE_STR: ${{ github.event.pull_request.merged == 'true' }}
          MERGED_TRUE_BOOL: ${{ github.event.pull_request.merged == true }}

      - name: Alert in Slack
        id: slack
        uses: slackapi/slack-github-action@v1.18.0
        with:
          channel-id: sales-notifications-live
          payload: |
            {
              "text": "${{ steps.tag_version.outputs.changelog }}"
            }
        env:
          SLACK_BOT_TOKEN: https://hooks.slack.com/services/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

